<form class="p-2 p-sm-3 p-md-4 overflow-content" id="registerForm" name="reg" method="POST" enctype="multipart/form-data" action="" novalidate ng-submit="reg.$valid">
    <div class="ft g-col-12 g-col-lg-6">
        <h3 class="g-col-12 g-col-lg-6">1. פרטיי עובד</h3>
        <input ng-minlength="2" ng-maxlength="20" name="optionals[first_name]" class="g-col-12 g-col-md-6 g-col-lg-3" placeholder="שם פרטי" type="text">
        <input ng-minlength="2" ng-maxlength="20" name="optionals[last_name]" class="g-col-12 g-col-md-6  g-col-lg-3" placeholder="שם משפחה" type="text">
        <input ng-maxlength="3" name="optionals[age]" class="g-col-12 g-col-md-6  g-col-lg-3" placeholder="גיל" type="number">
        <input ng-maxlength="30" name="optionals[city]" class="g-col-12 g-col-md-6  g-col-lg-3" placeholder="עיר מגורים" type="text">
    </div>

    <div class="ft g-col-12 g-col-lg-6">
        <h3 class="g-col-12 g-col-lg-6">2. יצירת קשר</h3>
        <div class="form-group d-flex flex-column g-col-12 g-col-md-6 g-col-lg-3">
            <input ng-pattern="crud.private_ph_exp" ng-model="private_phone" name="optionals[private_phone]" class="warningsInput" placeholder="מספר סלולרי" type="tel" required>
            <span style="color:red;" ng-show="reg.private_phone.$invalid && reg.private_phone.$touched">המספר אינו תקין</span>
        </div>
        <div class="form-group d-flex flex-column g-col-12 g-col-md-6 g-col-lg-3">
            <input ng-pattern="crud.private_ph_exp" ng-model="public_phone" name="optionals[public_phone]" class="warningsInput" placeholder="מספר טלפון" type="tel" required>
            <span style="color:red;" ng-show="reg.public_phone.$invalid && reg.public_phone.$touched">המספר אינו תקין</span>
        </div>
        <div class="form-group d-flex flex-column g-col-12 g-col-md-6 g-col-lg-3">
            <input ng-pattern="crud.email_exp" ng-model="new_email" ng-blur="crud.checkAvailability('email',reg.email,new_email)"
                   name="email" class="warningsInput" placeholder="אימייל" type="email" required="required">
            <div ng-show="reg.email.$touched">
                <span style="color:greenyellow;" ng-show="crud.emailAvailability && reg.email.$valid" >האמייל פנוי</span>
                <span style="color:red;" ng-show="!crud.emailAvailability && reg.email.$valid">האמייל תפוס</span>
                <span style="color:greenyellow;" ng-show="reg.email.$invalid && reg.email.$viewValue.length > 0">האמייל לא תקין</span>
                <span style="color:red;" ng-show="!reg.email.$viewValue.length">שדה זה הינו שדה חובה</span>
            </div>

        </div>

    </div>

    <div class="ft g-col-12 g-col-lg-6">
        <h3 class="g-col-12 g-col-lg-6">3. פרטיי כניסה והתחברות</h3>
        <div class="form-group d-flex flex-column g-col-12 g-col-md-6 g-col-lg-3">
            <input class="warningsInput" name="user_name" ng-pattern="crud.uname_exp" ng-model="user_name" ng-blur="crud.checkAvailability('uname',reg.user_name,user_name)" type="text" placeholder="שם המשתמש" required>
            <div ng-show="reg.user_name.$touched">
                <span style="color:greenyellow;" ng-show="crud.unameAvailability && reg.user_name.$valid" >שם המשתמש פנוי</span>
                <span style="color:red;" ng-show="!crud.unameAvailability && reg.user_name.$valid">שם המשתמש תפוס</span>
                <span style="color:greenyellow;" ng-show="reg.user_name.$invalid && reg.user_name.$viewValue.length > 0">שם המשתמש לא תקין</span>
                <span style="color:red;" ng-show="!reg.user_name.$viewValue.length">שדה זה הינו שדה חובה</span>
            </div>
        </div>
        <div class="form-group d-flex flex-column g-col-12 g-col-md-6 g-col-lg-3">
            <input name="user_pass" ng-pattern="crud.pass_exp" ng-model="user_pass" class="warningsInput" type="password" placeholder="סיסמא" required>
            <div ng-show="reg.user_pass.$touched">
                <span style="color:red;" ng-show="reg.user_pass.$invalid && reg.user_pass.$viewValue.length > 0">הסיסמא אינה תקינה</span>
                <span style="color:greenyellow;" ng-show="reg.user_pass.$valid && reg.user_pass.$viewValue.length > 0">הסיסמא תקינה</span>
                <span style="color:red;" ng-show="!reg.user_pass.$viewValue.length">שדה זה הינו שדה חובה</span>
            </div>
            <small style="color:black;" ng-show="reg.user_pass.$invalid && reg.user_pass.$pristine">מעל 8 תויים , אות קטנה אחת ואות גדולה אחת לפחות </small>
        </div>
        <div class="form-group d-flex flex-column g-col-12 g-col-md-6 g-col-lg-3">
            <input name="user_sec_pass" ng-model="user_sec_pass" class="warningsInput" type="password" placeholder="חזור על הסיסמא שנית" required>
            <div ng-show="reg.user_sec_pass.$touched">
                <span style="color:red;" ng-show="reg.user_sec_pass.$viewValue !== reg.user_pass.$viewValue">הסיסמא אינה תואמת</span>
                <span style="color:red;" ng-show="!reg.user_sec_pass.$viewValue.length">שדה זה הינו שדה חובה</span>
            </div>
        </div>
        <div class="form-group g-col-md-6 g-col-12  g-col-lg-3" style="display: grid; grid-template-columns: repeat(12,1fr);">
            <label class="g-col-md-6" for="">הרשאה</label>
            <select name="user_permission" id="" class="custom-select g-col-md-6">
                <option value="admin">מנהל מערכת</option>
                <option value="reporter">כתב</option>
                <option value="guest">אורח</option>
            </select>
        </div>
<!--
        <pre>
        valid: {{reg.$valid | json}}
        </pre>
        <button class="btn-primary" ng-click="log(reg)">Inside From</button>


-->
    </div>
    <div class="ft g-col-12 g-col-lg-6 profileImgSec" style="">
        <h3 class="g-col-12 g-col-lg-6">4. העלה תמונת פרופיל</h3>
        <div class="g-col-12">
            <div class="form-group inputDnD" style="height: 216px;">
                <label class="sr-only" for="inputFile">File Upload</label>
                <input type="file"  name="profile_img" ng-model="profile_name" class="form-control-file text-primary font-weight-bold" id="inputFile" accept="image/*" onchange="readUrl(this)" data-title="Drag and drop a file">
            </div>
            <button type="button" class="btn btn-secondary btn-block" onclick="document.getElementById('inputFile').click()">Add Image</button>
        </div>

    </div>
    <input placeholder="" class="btn-primary g-col-12 g-col-lg-2" name="register" type="submit">
    <!--
        </div>-->

</form>
<script>
    function readUrl(input) {

        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = (e) => {
                let imgData = e.target.result;
                let imgName = input.files[0].name;
                input.setAttribute("data-title", imgName);
                console.log(e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }

    }
</script>