<div class="overflow-content">
    <header class="clearfix">
        <div>
            <div class="col-4 col-md-3">
                <strong>כל המגיבים</strong>
            </div>
            <div class="col-8 col-md-9">
                <button class="btn btn-primary pull-left">צור חדש</button>
            </div>
        </div>
    </header>
    <div class="content-inner padding-20">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <td>#</td>
                <td>שם מלא</td>
                <td>אמייל</td>
                <td>סטטוס</td>
                <td class="d-none d-lg-block">נוצר ב</td>
                <td>פעולות</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="commenter in crud.commentersList">
                <td>{{commenter.id}}</td>
                <td>{{commenter.fname}}</td>
                <td>{{commenter.email}}</td>
                <td>
                    <span ng-if="commenter.status == 1" class="badge badge-success">פעיל</span>
                    <span ng-if="commenter.status == 0" class="badge badge-danger">ממתין</span>

                </td>
                <td class="d-none d-lg-block">{{commenter.created | longDate}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="crud.expand(this)">צפה</button>
                    <button type="button" class="btn btn-warning" ng-click="crud.update(this)">ערוך</button>
                    <button type="button" class="btn btn-danger disabled" id="delete3"  ng-click="crud.delete(this)">מחק</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>