* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

#logNregPage {
  background: url("../../_img/bgi.jpg") no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: 'nav nav nav' '. fieldArea .' '. jsMessage .';
  height: 100%; }
  #logNregPage nav {
    grid-area: nav; }
    #logNregPage nav ul {
      display: flex; }
      #logNregPage nav ul li {
        display: flex;
        justify-content: center;
        flex: 1;
        background-color: rgba(250, 250, 250, 0.7);
        padding: 20px;
        cursor: pointer;
        font-weight: bold;
        font-family: arial ,Alef;
        color: gray; }

@media (max-width: 810px) {
  #logNregPage {
    grid-template-areas: "nav" "fieldArea" "jsMessage"; } }
#allForm {
  grid-area: fieldArea;
  background-color: rgba(250, 250, 250, 0.7); }
  #allForm #newProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    grid-column: span 3;
    grid-row: span 5; }
    #allForm #newProfile #regUserS {
      color: green; }
    #allForm #newProfile #regEmailS {
      color: green; }

#registerButton,
#loginButton {
  min-height: 50px; }

#loginForm, #regForm {
  width: 100%;
  height: 100%; }

#loginForm {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

#regForm {
  display: grid;
  grid-template-areas: '. . .' 'wu-mark newUserName .' 'we-mark newUserEmail .' '. newUserPass .' '. registerButton .' 'jsMessage jsMessage jsMessage';
  grid-template-columns: 70px 1fr 70px; }
  #regForm #newUserName {
    grid-area: newUserName; }
  #regForm #newUserEmail {
    grid-area: newUserEmail; }
  #regForm #newUserPass {
    grid-area: newUserPass; }
  #regForm #registerButton {
    grid-area: registerButton; }

#regForm input, #loginForm input {
  margin: 10px;
  border-radius: 50px;
  text-align: center;
  padding: 4% 15%; }

.jsMessage {
  grid-area: jsMessage;
  background-color: rgba(250, 250, 250, 0.7);
  margin-top: 10px;
  max-height: 100px;
  color: red;
  text-align: center; }

/*V confirm*/
.markWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

#userVmark {
  grid-area: userVmark; }

#emailVmark {
  grid-area: emailVmark; }

#wu-mark {
  grid-area: wu-mark; }

#we-mark {
  grid-area: we-mark; }

.checkmark {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both; }

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards; }

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards; }

@keyframes stroke {
  100% {
    stroke-dashoffset: 0; } }
@keyframes scale {
  0%, 100% {
    transform: none; }
  50% {
    transform: scale3d(1.1, 1.1, 1); } }
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142; } }

/*# sourceMappingURL=styles.css.map */
