/*
Created on : 05/02/2017, 05:27:12
Author     : HT
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --mainC: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  --secondC: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%); }

body {
  margin: 0;
  direction: rtl;
  font-family: alef, arial; }

.sideAds {
  width: 130px;
  height: 689px;
  margin-top: 10px;
  background: var(--secondC);
  display: block; }
  .sideAds .exitButton {
    display: none; }
    .sideAds .exitButton a {
      color: black; }

@media (max-width: 1300px) {
  .sideAds {
    display: none; } }
.leftWing1 {
  order: 3;
  /*           display: flex;*/
  flex-flow: column;
  height: 689px;
  position: fixed;
  left: 0;
  top: 90px;
  opacity: 0;
  z-index: 10; }
  .leftWing1 .sideAds {
    direction: ltr; }

.rightWing1 {
  order: 1;
  /*           display: flex;*/
  flex-flow: column;
  height: 689px;
  position: fixed;
  right: 0;
  top: 90px;
  z-index: 10;
  opacity: 0; }

ul, li {
  list-style: none; }

.flex-container {
  order: 2;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1100px;
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  box-shadow: 0 0 20px 1px; }

/*mainNav*/
.nMenu {
  display: flex;
  height: 90px;
  max-height: 70px;
  margin-bottom: 15px;
  background: #a90329;
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%); }
  .nMenu .logoN {
    display: grid;
    height: 70px;
    grid-template-areas: 'mobileb logoNI .';
    width: 30%;
    max-width: 500px;
    z-index: 9999; }
    .nMenu .logoN .mobileB {
      display: none;
      grid-area: mobileb; }
    .nMenu .logoN .logoNI {
      display: flex;
      align-items: center;
      /*
      margin: 0 auto;
      */
      grid-area: logoNI; }
      .nMenu .logoN .logoNI img {
        max-width: 100%;
        width: auto;
        height: 52px; }
        @media (min-width: 950px) {
          .nMenu .logoN .logoNI img {
            transform: scaleY(1.2) translateY(7px); } }
        @media (max-width: 650px) {
          .nMenu .logoN .logoNI img {
            height: 10vw; } }
    @media (max-width: 900px) {
      .nMenu .logoN {
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 10px;
        max-width: none;
        height: auto;
        width: 100%; }
        .nMenu .logoN .mobileB {
          display: flex;
          justify-content: center;
          align-items: center; } }
  .nMenu .navButtons {
    flex: 1 0 60%;
    display: flex;
    margin: 0;
    padding: 0; }
    .nMenu .navButtons > li {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex: 1;
      background: var(--secondC);
      height: inherit;
      transition: 0.8s all; }
      .nMenu .navButtons > li:hover {
        color: white;
        background: linear-gradient(to bottom, #a90329 0%, #6d0019 100%); }
      .nMenu .navButtons > li a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        height: 50%;
        width: 100%;
        transition: 0.3s all; }
        .nMenu .navButtons > li a:hover {
          color: #ffffff;
          text-shadow: 1px 10px 20px; }
      .nMenu .navButtons > li #redB {
        color: white;
        background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
        border-left: 1px solid white;
        transition: 0.8s all; }
    @media (max-width: 900px) {
      .nMenu .navButtons {
        margin: 80px 0;
        flex-flow: column;
        flex: 1 0 60%;
        position: fixed;
        width: 100%;
        height: 92%;
        z-index: 9997; }
        .nMenu .navButtons > li a {
          justify-content: flex-start;
          font-size: 18pt;
          margin: 0 10px; } }

.f-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 67px;
  max-height: none;
  border-bottom: 3px solid grey; }
  .f-nav .logoN {
    height: auto;
    max-width: 422px; }
    @media (max-width: 950px) {
      .f-nav .logoN {
        max-width: unset; } }
  .f-nav .logoNI img {
    max-width: 100%;
    transform: scaleY(1) translateY(0px) !important; }
    @media (min-width: 950px) {
      .f-nav .logoNI img {
        transform: scaleY(1) translateY(0px); } }

@media (max-width: 900px) {
  /*
  .nMenu {
    max-height: 70px;
    flex-flow: column;
    .logoN {
      display: grid;
      height: 70px;
      grid-template-areas: 'mobileb logoNI .';
      grid-gap: 10px;
      max-width: none;
      width: 100%;
    }
    .mobileB {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: mobileb;
      align-self: center;
      margin-right: 0;
    }
    .logoNI {
      height: 110%;
      width: 75%;
      grid-area: logoNI;
    }
    .navButtons {
      margin: 80px 0;
      flex-flow: column;
      flex: 1 0 60%;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 9997;
      > li a {
        justify-content: flex-start;
        font-size: 18pt;
        margin: 0 10px;
      }
    }
  }
  .f-nav {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    border-bottom: 3px solid grey;
    transition: 0.8s;
  }*/ }
@media (max-width: 410px) {
  /*
  .nMenu {
    max-height: 70px;
    flex-flow: column;
    .logoN {
      display: grid;
      grid-template-areas: 'mobileb logoNI .';
      padding: 10px;
    }
    .mobileB {
      width: 10vw;
      height: 10vw;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .logoNI {
      height: auto;
      grid-area: logoNI;
      display: flex;
      align-items: center;

    }

  }
  */ }
/*!mainNav*/
.menuBanner {
  margin-top: 10px; }
  .menuBanner .menuBannerImg {
    height: 100%;
    width: 100%; }
  .menuBanner .exitButton {
    height: 40px;
    width: 40px;
    margin: 10px;
    font-size: 25pt;
    text-align: center;
    color: white;
    position: absolute; }
    .menuBanner .exitButton a {
      color: white;
      text-decoration: none; }

a.title {
  order: 4;
  padding: 5px;
  display: flex;
  flex: 1 1 100%;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  font-family: alef, Arial, Helvetica, sans-serif;
  font-size: 20pt;
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  color: white; }

nav.sortTool {
  order: 0;
  display: none;
  flex-flow: row;
  height: 70px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  justify-content: center;
  align-items: center; }

div.sortButton {
  border: 4px red solid;
  width: 50px;
  height: 40px;
  background: saddlebrown;
  margin: 0 10px 0 10px; }

.dateOfPublish {
  display: flex;
  text-align: center;
  font-weight: bolder;
  background: var(--secondC);
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20pt; }

main.main {
  display: flex;
  flex-flow: column;
  order: 4;
  flex: 1;
  margin: 0;
  padding: 0;
  min-height: 1000px; }

.news-container {
  display: flex;
  flex-flow: column;
  direction: rtl;
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); }

a.overlay1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8; }

post-item::shadow.fadeInPost {
  opacity: 1;
  transition: 0.8s opacity; }

post-item::shadow {
  opacity: 0; }

.grid-news-item {
  display: grid;
  grid-template-areas: "artAuth artAuth" "artDate artDate" "artTitle artTitle" "postImage postImage" "postDesc postDesc" "postActions postActions" "postComments postComments";
  grid-template-rows: 50px 50px 50px 1fr auto;
  background-color: whitesmoke;
  border: 1px solid #3f4c6b;
  border-radius: 3px;
  margin: 10px auto;
  padding: 20px 0; }
  .grid-news-item .addComment {
    display: flex; }
  .grid-news-item .postDesc {
    grid-area: postDesc; }
  .grid-news-item a.toArt {
    grid-area: postImage;
    overflow: hidden; }
  .grid-news-item img {
    width: 100%; }
  .grid-news-item .artAuth {
    grid-area: artAuth;
    display: flex; }
    .grid-news-item .artAuth i {
      padding-left: 10px; }
  .grid-news-item .artAuth, .grid-news-item .artDate {
    color: #005cbf; }
  .grid-news-item .artDate {
    grid-area: artDate;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; }
  .grid-news-item .artTitle {
    grid-area: artTitle; }
  .grid-news-item .postActions {
    display: flex;
    justify-content: space-between;
    grid-area: postActions;
    padding: 20px 0; }
  .grid-news-item .postAction {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
  .grid-news-item .postComments {
    grid-area: postComments; }
  @media (min-width: 810px) {
    .grid-news-item {
      margin: 30px auto 50px auto;
      padding: 50px;
      grid-template-rows: minmax(115px, auto) 50px;
      grid-template-areas: 'artAuth artDate' 'artTitle artTitle' 'postImage postImage' 'postDesc postDesc' 'postActions postActions' 'postComments postComments'; } }

/*----------------------------old-homepage-report-items--------------*/
/*----------------------------end-of-homepage-report-items--------------*/
/*best item*/
.bestTitles {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 300px;
  list-style: none;
  padding: 0; }

.bestTitlesExpanded {
  height: 950px; }

.bestTitlesItem {
  margin: 0 3px;
  flex: 1;
  position: relative;
  display: flex;
  height: 300px;
  transition: all 0.6s;
  cursor: pointer;
  overflow: hidden; }
  .bestTitlesItem .topinfo {
    display: flex;
    flex-flow: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2%;
    /*    height: 13%;*/
    text-align: center;
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.9) 0%, rgba(204, 204, 204, 0.5) 100%);
    font-size: 13pt;
    transition: all 0.6s; }
    .bestTitlesItem .topinfo img {
      height: 100%;
      width: 30px; }
    .bestTitlesItem .topinfo .socialShare {
      height: 0;
      width: 100%;
      display: flex;
      flex-flow: row;
      transition: all 0.6s; }
      .bestTitlesItem .topinfo .socialShare div {
        height: 100%;
        flex: 1;
        flex-flow: column;
        margin: 0 0;
        z-index: 9; }
    .bestTitlesItem .topinfo a {
      flex: 1; }
  .bestTitlesItem:hover .topinfo {
    transition: all 0.6s;
    height: 18%;
    background: linear-gradient(to bottom, rgba(169, 3, 41, 0.9) 0%, rgba(143, 2, 34, 0.9) 44%, rgba(109, 0, 25, 0.9) 100%); }
  .bestTitlesItem .bottominfo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 44%;
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.9) 0%, rgba(204, 204, 204, 0.5) 100%);
    align-self: flex-end;
    font-size: 100%;
    padding: 2px 10px;
    transition: all 0.6s;
    text-shadow: 0 1px 20px;
    position: absolute;
    bottom: 0; }
    .bestTitlesItem .bottominfo .binfoTitle {
      flex: 50%;
      margin-top: 10px;
      max-height: 50%; }
    .bestTitlesItem .bottominfo .bdate {
      flex: 20%; }
  .bestTitlesItem:hover .bottominfo {
    transition: all 0.6s;
    height: 55%;
    background: linear-gradient(to bottom, rgba(169, 3, 41, 0.9) 0%, rgba(143, 2, 34, 0.9) 44%, rgba(109, 0, 25, 0.9) 100%);
    color: white;
    text-shadow: 0 1px 13px; }
  .bestTitlesItem > div > img {
    position: absolute;
    width: auto;
    height: 100%; }

.grid-best-items {
  display: grid; }
  @media (min-width: 810px) {
    .grid-best-items {
      height: 800px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr; }
      .grid-best-items li.bestTitlesItem:first-child {
        grid-column: 1/3;
        grid-row: span 2;
        height: auto; }
      .grid-best-items li.bestTitlesItem {
        height: auto !important; } }

/*!best item*/
.smalltitle {
  display: none; }

footer {
  order: 8;
  max-height: 100px;
  margin: 0;
  text-align: center;
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  color: white; }

.mainSlide {
  display: flex;
  width: 100%; }

.rightColSlide {
  flex: 1;
  order: 1;
  width: 10%; }

.leftColSlide {
  flex: 1;
  order: 3; }

.smallreportImg {
  height: 100px; }

.threecol {
  display: flex; }

.mainCol {
  order: 2;
  flex: 1 1 70%; }
  .mainCol .double-col {
    flex-flow: row; }

.rightCol {
  order: 1;
  flex: 1 0 20%; }

.leftCol {
  order: 3;
  flex: 1 0 20%; }

@media (max-width: 900px) {
  .allReportsWrapper {
    flex-flow: column;
    min-width: 96%; }

  .reportItem {
    flex: 1 1 100%;
    min-height: 450px; }

  .itemWrapper {
    min-width: 95px;
    min-height: inherit; }

  nav.main {
    display: flex;
    flex-flow: row;
    flex: 1 1 100%;
    /*border: 8px solid blue;*/
    height: 400px;
    justify-content: center; } }
/*-----------------new grid items-------------------*/
.news-section > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: all 0.7s; }

/*frontRegister_page*/
.m-auto-0 {
  margin: 0 auto; }

.all-centered-lis > li, .all-centered-lis > div, .all-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

.regLev {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 10px; }
  @media (min-width: 700px) {
    .regLev {
      width: 70%; } }

#regLev1 {
  height: 500px;
  grid-gap: 0;
  display: flex;
  flex-direction: column; }
  #regLev1 .inputNote {
    grid-row: span 1; }
  #regLev1 input {
    height: 50px;
    margin-top: 10px; }

#regLev2 {
  height: 500px; }
  #regLev2 input[type="submit"] {
    height: 40px;
    margin-left: 15px; }

#regLev3 {
  grid-template-columns: 1fr 1fr; }
  #regLev3 h2 {
    grid-column: span 2; }
  #regLev3 textarea {
    grid-column: span 2; }
  #regLev3 input[type="submit"] {
    height: 40px;
    grid-column: span 2; }

.regLevelsBar {
  display: flex;
  width: 70%;
  height: 70px;
  align-items: center; }
  .regLevelsBar li {
    margin-left: 20px;
    height: 3em;
    width: 3em;
    background-color: #eeeeee;
    border-radius: 100%; }
    .regLevelsBar li.active {
      background-color: #8f0222;
      color: white; }

.alert-span {
  color: red; }

/*!frontRegister_page*/

/*# sourceMappingURL=styles.css.map */
