<div id="articlesPage" class="overflow-content">
    <header class="clearfix">
        <h4 class="page_title pull-right">כל הכתבות</h4>
        <button class="btn btn-primary  pull-left"> <a ui-sref="CMS.new-article" style="color: white">צור מאמר חדש</a></button>

    </header>
    <div class="content-inner">
        <div class="row search-row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control search-field" id="inputAmount" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default go">חפש!</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row article-row" ng-repeat="article in crud.artList">
            <div class="col-2 col-sm-2 col-md-1 status-padding">
                <span class="badge badge-success">פעיל</span>
            </div>
            <div class="col-10 col-sm-10 col-md-7 article-title">
                <p ng-show="!article.editMode">{{article.title}}</p>
                <p ng-show="article.editMode"> <input type="text" ng-model="article.title" class="form-control"></p>
                <small>נוצר ב {{article.addedDate | longDate}}</small>

            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div class="article-actions row justify-content-center">
                    <a href="" class="btn btn-default" role="button" ng-click="crud.expand(this)">
                        <span class="fa fa-folder" aria-hidden="true"></span>&nbsp; צפה
                    </a>
                    <a href="" class="btn btn-default" role="button" ng-click="crud.saveArtAndToggle(this)">
                        <span class="fa fa-pencil" aria-hidden="true"></span>&nbsp; ערוך
                    </a>
                    <a href="" class="btn btn-default" id="delete" role="button" ng-click="crud.delete(this)">
                        <span class="fa fa-remove" aria-hidden="true"></span>&nbsp; מחק
                    </a>
                </div>
            </div>
            <div class="col-12 padding-20" ng-show="article.showDesc">
                <figure class="frontImgFig">
                    <div class="editArtImg"><i title="ערוך" class="fa fa-edit" style="color: white; cursor: pointer; padding: 15px;"></i></div>
                    <input type="file" ngFileModel ng-file-model="testFile" ng-show="editFImg" class="form-control frontImgUd">
                    <img width="50%" ng-src="{{'../_img/report/postFront/'+article.frontImg}}" alt="">
                    <figcaption> צולם ע"י חברת מדיה </figcaption>
                </figure>
                <p ng-show="!article.editMode" style="width: 47%;">{{article.desc}}</p>
                <p ng-show="article.editMode">
                    <textarea class="form-control"  ng-model="article.desc" id="artDescArea" rows="4"></textarea>

                </p>
                <p ng-show="article.editMode">
                    <input ng-click="crud.update(this)" type="button" class="btn btn-primary" value="החל">
                    <input ng-click="crud.cancelUpdate(this)" type="button" class="btn btn-danger" value="בטל">
                    <a ui-sref="CMS.new-article({artId: article.id, act:'edit'})"><input type="button" class="btn btn-light" value="לעריכה מלאה"></a>
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 p-0">
                <nav>
                    <ul class="pagination p-0">
                        <li class="page-item"><a class="page-link" >&laquo;</a></li>
                        <li class="page-item"><a class="page-link" ui-sref="CMS.articles({pageNum:1})">1</a></li>
                        <li ng-repeat="page in crud.rangeArr" class="page-item"><a class="page-link" ui-sref="CMS.articles({pageNum:page+1})">{{page+1}}</a></li>
                        <li class="page-item"><a class="page-link" >&raquo;</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</div>
